body {
    /* Visual */
    color: #fff;
    background: url('../images/bball-background.jpg');
    font-family: 'Montserrat', sans-serif;
}

#welcome {
    display: table;
    width: 100%;
    height: 100vh;
}

#welcome .btn-get-started,
#btnSubmit {
    font-family: 'Montserrat', sans-serif bold;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
}

button {
    color: #2dc997;
}

#welcome .start-container {
    display: table-cell;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.jumbotron h1 {
    font-size: 36px;
    margin: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif bold;
    margin: 30px 0 10px 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#questions {
    background: #2dc997;
    border: 2px solid #2dc997;
}

#timer {
    font-family: monospace;
    font-size: 30px;
    color: green;
    /* Typography */
    text-align: center;
    /* Visual */
    background: black;
}

#wrapper {
    /* Box-model */
    width: 500px;
    /* Positioning */
    margin: 0px auto 0;
}

#tom img {
    margin-left: 0px;
    height: 200px;
    display: table-cell;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

#tom2 img {
    margin-left: 0px;
    height: 200px;
    display: table-cell;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    float: right;
}


/*------------# Footer --------------------------------------------------------------*/

#footer {
    background: #343b40;
    padding: 10px 0;
    color: #fff;
    font-size: 10px;
}

#footer .copyright {
    text-align: center;
}